  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Rubik', sans-serif;
  }


  #spinner {
      padding-top: 20%;

  }

  @keyframes spin {
      100% {
          transform: rotate(360deg);
      }
  }

  .inline {
      display: flex;
      background: #F6F1F1;
      position: fixed;
      width: 100%;
      height: 7680px;
      z-index: 9999;
      justify-content: center;
  }

  .spinner i {
      margin-top: 10px;
      margin-left: 50px;
      animation: spin 1s linear infinite;
      color: #e22c2cc4;
  }

  body::-webkit-scrollbar {
      width: 1em;
      background: transparent;
  }

  body::-webkit-scrollbar-track {
      height: 10%;
      background-color: #a1a1a128;
  }

  body::-webkit-scrollbar-thumb {
      background-color: #434242b0;
      outline: 0;
  }

  body::-webkit-scrollbar-thumb:hover {
      background: #e22c2cc4;
  }

  .clear {
      clear: both;
      height: 2rem;
      width: 100%;
  }

  .danger {
      background: #E22C2C !important;
  }

  @media (min-width: 1200px) {

      .container,
      .slider-section .slick-dots {
          max-width: 1320px !important;
      }

      .slider-section .slick-dots {
          max-width: 1300px !important;
      }
  }



  a:hover {
      text-decoration: none !important;
  }

  body {
      background: #FAFAFA !important;
  }

  body.no-scroll {
      overflow: hidden;
  }


  .head {
      justify-content: space-between;
      align-items: center;
      padding: .5rem 0;
  }

  .header-contact {
      align-items: center;
  }

  .header-contact div {
      display: flex;
      align-items: center;
      padding: 0 !important;
      justify-content: center;
  }

  .header-contact div i {
      margin: 0 0.5rem 0 0.75rem;
  }

  .dropdown p,
  .header-contact p {
      margin-bottom: 0 !important;
  }


  .dropdown-item {

      padding: .25rem 1rem !important;

  }

  .dropdown-menu {
      min-width: 2rem !important;

  }

  .menu {
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
  }

  .menu-items {
      list-style: none;
      display: flex;
      margin: 0;
  }

  .menu-item a {
      color: white !important;
  }

  .menu-item {
      padding: 2rem 0 2rem 0;
      margin-left: 2rem;
      transition: all .4s;
      max-height: 88px;
  }

  .menu-item:hover {
      border-bottom: 1px solid white;
  }

  .burger-container {
      height: 0;
  }


  .menu-inventory {
      padding-top: 3rem;
      width: 100%;
      height: 105vh;
      transform: translate(-150%);
      transition: transform 0.5s ease-in-out;
      display: flex;
      flex-direction: column;
      text-align: center;
      position: relative;
      z-index: 6;
      margin-top: -5rem;
  }

  .checkbox,
  .lines {
      display: none;
  }

  .menuitems a {
      color: #B9B9B9;

      display: inline-block;
      position: relative;
      padding: 1rem;
  }

  .menuitems a {
      color: #B9B9B9;

      display: inline-block;
      position: relative;
      padding: 1rem;
  }

  .menuitems a:hover {
      color: #fff;
  }

  .search {
      width: 100%;
      height: 1080px;
      top: 0;
      position: fixed;
      background: #000;
      display: flex;
      z-index: 99999;
      align-items: center;
      justify-content: center;
      transform: translate(150%);
      transition: all 1s;

  }

  .search input {
      outline: none;
      border: 0;
      border-bottom: 1px solid #fff;
      background: transparent;
      color: white;
      cursor: text;
      margin-bottom: 15rem;
      width: 280px;
      font-size: 1.85rem;
      padding-right: 3rem;
  }

  .search i.fa-magnifying-glass {
      position: absolute;
      font-size: 2rem;
      right: 0;
  }

  .search i.fa-xmark {
      position: absolute;
      right: 3rem;
      font-size: 3rem;
      top: 3rem;

  }

  .menu-item .menuitems {
      cursor: pointer;
  }

  .lines {
      display: none;
      height: 26px;
      width: 32px;
      position: absolute;
      top: 17px;
      bottom: 0;
      right: 35px;
      z-index: 7;
      flex-direction: column;
      justify-content: space-between;
  }

  input[type="checkbox"] {
      position: absolute;
      display: none;
      height: 32px;
      width: 32px;
      top: 14px;
      right: 35px;
      z-index: 8;
      opacity: 0;
      cursor: pointer;
  }

  .lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: rgb(255, 255, 255);
  }

  .lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
  }

  .lines .line2 {
      transition: transform 0.2s ease-in-out;
  }

  .lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
  }

  input[type="checkbox"]:checked~.menu-items {
      transform: translateX(0);
  }

  input[type="checkbox"]:checked~.lines .line1 {
      transform: rotate(45deg);

  }

  input[type="checkbox"]:checked~.lines .line2 {
      transform: scaleY(0);
  }

  input[type="checkbox"]:checked~.lines .line3 {
      transform: rotate(-45deg);
  }

  .slideritem {
      position: relative;
  }

  .slideritem img {
      width: 100%;
      object-fit: cover;
  }

  .overlay {
      position: absolute;
      width: 100%;
      min-height: 100%;
      background: #000000d1;
      z-index: 1;
      top: 0;
      display: flex;
      align-items: center;

  }

  .header {
      max-width: 550px;
  }

  .contact-us button {
      padding: 0.5rem 1.25rem;
  }

  .overlay .content {
      display: flex;
      max-width: 500px;
      flex-direction: column;
  }

  .slider-content {
      justify-content: space-between;
      display: flex;
  }



  .social {
      color: white;
      position: absolute;
      width: 100%;
      z-index: 1;
      top: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 100px;
      right: 1rem;
  }

  .social div a {
      padding: 0.25rem 0.5rem;
      border: 1px solid white;
      border-radius: 100%;
      margin: 0.45rem 0;
      width: 50px;
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: center;
      transition: all.4s;
  }

  .social div a:hover {
      background: white;

  }

  .social div a:hover i {

      color: #000;
  }

  .slider-section {
      overflow: hidden;
  }

  .rectangle {
      height: 3px;
      width: 20px;
      transition: all .4s;
      background-color: rgba(255, 255, 255, .4);
  }


  li.slick-active {
      width: 50px !important;
  }

  .slick-active .rectangle {
      width: 50px;
      background-color: rgba(255, 255, 255, 1);
  }

  .slider-section .slick-dots {
      position: relative !important;
      top: -5rem !important;
      text-align: start !important;
      max-width: 1140px;
      bottom: 0rem !important;
      margin: 0 auto !important;
      max-width: 1320px;
  }

  .product {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 2rem;
      column-gap: 2rem;
  }

  .product-card,
  .product-item {
      text-align: center;
      background: #FFF;
      border: 2px solid rgba(0, 0, 0, 0.247);
      border-radius: 10px;
      padding: 1rem 0;
      transition: all .4s;
  }

  .product-card i {
      visibility: hidden;
  }

  .product-card:hover i {
      visibility: visible;
  }

  .product-card a,
  .product-item a {
      color: black;
      display: block;
      height: 100%;
  }

  .product-item a:hover {
      color: #E22C2B;
  }

  .product-card:hover {
      background: #E22C2C;
  }

  .product-item:hover {
      border: 2px solid#E22C2B;

  }

  .product-card:hover a {
      color: #FFF;
  }

  .all {
      display: flex;
      justify-content: center;
      margin: 1rem auto;
  }

  button,
  a.danger {
      transition: all .5s;
  }

  .all button {
      padding: .5rem 1rem;
      border: 1px solid #E22C2C;
  }

  button.danger.text-light.border-0.danger:hover,
  a.danger:hover {
      scale: 1.1;
      box-shadow: inset 0 0 0 2em color(srgb 255 255 255), 0 0 20px 1px rgba(255, 0, 0, 1);
      color: red !important;

  }

  .back {
      position: relative;
      background-image: url('images/truck-crane-lifts-load-construction-site-against-background-sky.png');
      background-attachment: fixed;
      background-repeat: no-repeat;
      height: 400px;
      background-size: cover;
      background-position: bottom;
  }

  .back .content {
      max-width: 400px;
  }

  .slide {
      max-width: 400px;
      width: 100%;
      height: 200px;
      position: absolute;
      right: 0;
  }

  .overlay .container .d-flex {
      align-items: center;
  }

  .overlay .container .slide img {
      position: absolute;
      right: 15rem;
      z-index: 1;
  }

  hr.tiny-line {
      border-top: 2px solid #E22C2C;
      max-width: 40px;
      margin: 1rem auto;
  }

  .new-item {

      max-width: 645px;
      width: 100%;
      height: 320px;
  }

  .first-item {
      background-image: url('images/yellow-forklift-working-construction-site.png');
  }

  .second-item {
      background-image: url('images/closeup-helical-gears-car-automatic-transmission.png');
  }

  .new-item {
      border-radius: 10px;
      overflow: hidden;
  }

  .gradient-overlay {
      background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 2rem;
  }

  .detail {
      padding: 0.5rem .5rem;
      border-radius: 5px;
  }

  .gradient-overlay .content {
      max-width: 200px;
  }

  .back2 {
      position: relative;
      background-image: url('images/vehicle-coal-mine-view.png');
      background-attachment: fixed;
      background-repeat: no-repeat;
      height: 400px;
      background-size: cover;
      background-position: bottom;
  }

  .back2 .overlay .container .slide img {
      position: absolute;
      right: 10rem;
      z-index: 1;
      bottom: 0;
  }

  .back2 .content {
      max-width: 280px;
  }

  .date {
      max-width: 112px;
      width: 100%;
      position: absolute;
      bottom: 0.75rem;
      left: 1rem;
      padding: 0.25rem;
      font-size: .75rem;
  }

  .last-blogs.row {
      height: 470px;
  }

  .last-blogs .card-body {
      overflow: hidden;
      position: relative;
      height: 10rem;
      transition: all .4s;
  }

  .card-body p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
  }

  h6,
  h5,
  h4 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
  }

  .card {
      transition: all .4s;
      cursor: pointer;
  }

  .card .btn {
      position: absolute;
      bottom: -1000px;
  }

  .card:hover .btn {
      bottom: .5rem;
  }

  .card:hover .card-body {
      height: 13rem;
  }

  .card:hover {
      border: 1px solid #E22C2B;
  }

  .dated-image {
      position: relative;
  }

  a.danger {
      background-color: rgb(226, 44, 44);
      color: white;
  }

  .form-back {
      position: relative;
      background-image: url('images/truck-background.png');
      background-attachment: fixed;
      background-repeat: no-repeat;
      height: 230px;
      background-size: cover;
      background-position: bottom;
  }

  .red-overlay {
      position: absolute;
      width: 100%;
      min-height: 100%;
      background: #e22c2ce8;
      z-index: 1;
      top: 0;
      display: flex;
      align-items: center;
  }

  .angle {
      background: #000;
      padding: 0 1rem;
      font-size: 2rem;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
  }

  .red-overlay .content.d-flex {
      justify-content: space-between;
      align-items: center;
  }

  .paragraph.text-light {
      max-width: 400px;
  }

  .content .d-flex {
      width: 320px;
  }

  .content input {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      padding: .5rem .5rem;
      border: 0;
      width: 100%;
  }

  .content input:focus-visible {
      outline: 0;
  }

  footer ul {
      list-style: none;
  }

  footer,
  footer a {
      color: white;
      transition: all .2s;
  }

  footer span a {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  footer a {
      font-size: .85rem;
  }

  footer a:hover {
      color: gray;
  }

  footer h5 {
      font-size: 1.75rem;
  }

  footer {
      padding: 2rem 0 0 0;
  }

  .copyright {
      background: #000;
      padding: 1rem 0;
  }

  .copyright h6 {
      font-size: .75rem;
  }

  .social2 {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 1rem;
  }

  .social2 span {
      border: 1px solid white;
      padding: 0.65rem 0.65rem;
      border-radius: 100%;
      max-width: 50px;
      display: flex;
      height: 50px;
      text-align: center;
      transition: all .4s;
      align-items: center;
      justify-content: center;
  }

  .social2 span:hover {
      background: #FFF;
  }

  .social2 span:hover i {
      color: #000;
  }

  .social2 span i {
      width: 1.5rem;
      font-size: 1.5rem;
      text-align: center;
  }

  .contact-banner {
      background: url('images/Repeat\ Grid\ 1.png');
      object-fit: cover;
      width: 100%;
      height: 400px;
      background-position: center center;
  }

  .contact-banner .content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 400px;
  }

  .contact-form .col-md-6.col-sm-6:last-child {
      background: #FFFFFF;
      border-radius: 10px;
  }

  .contact-form iframe {
      border-radius: 10px;
      max-width: 636px;
      width: 100%;
  }

  .contact-form form {
      margin: 2rem auto;
  }

  .contact-form form div input,
  .contact-form form div textarea {
      border-radius: 10px;
      border: 1px solid #e6e6e62b;
      background: #e6e6e62b;
      padding: .5rem 1rem;
      width: 100%;
      max-height: 162px;
      outline: 0;
  }

  .contact-form form div input.danger.text-light {
      max-width: 160px;
      border-radius: 5px;
      border: 0;
  }

  .contact-form form div input:focus-visible,
  textarea:focus-visible {
      border: 1px solid #E22C2B;
  }

  .contact-form form {
      row-gap: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 550px;
      max-height: 380px;
  }

  .autoplay img {
      border: 2px solid #E6E6E6;
      border-radius: 10px;
      padding: 0.5rem 1.25rem;
      cursor: pointer;
  }

  .autoplay img:hover {
      border: 2px solid #E22C2B;
  }

  .danger.w-100.position-absolute {
      right: -12px;
      top: 3px;
      z-index: -1;
      height: 99%;
      border-radius: 10px;
  }

  .back-red {
      padding: 1rem 0 0 0;
  }

  .hakkimizda .row {
      justify-content: space-between;
      align-items: center;
  }

  .wrapper {
      position: absolute;
      width: 80vw;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      display: flex;
      justify-content: space-around;
      gap: 10px;
  }

  span.num {
      color: #ffffff;
      display: grid;
      place-items: center;
      font-weight: 600;
      font-size: 3em;
  }

  span.text {
      color: #e0e0e0;
      font-size: 1em;
      text-align: center;
      pad: 0.7em 0;
      font-weight: 400;
      line-height: 0;
  }

  .counter-section {
      background: #f5f5f5;
      padding: 3rem 0;
  }

  .counters {

      display: flex;
      justify-content: space-between;
  }


  .counters .item {
      display: inline-block;
      width: 20%;
      text-align: center;
  }

  .counters .item:last-of-type {
      border-right: none;
  }

  .counters .counter {
      font-size: 48px;
      line-height: 48px;
      display: inline-block;
      color: #E22C2B;
  }

  .counters .icon {
      font-size: 24px;
      line-height: 48px;
      display: inline-block;
      vertical-align: top;
      margin-left: 9px;
  }

  .counters .heading {
      display: block;
      font-size: 14px;
      line-height: 21px;
      margin-top: 12px;

  }

  .categories ul {
      list-style: none;
      border-radius: 10px;
      border: 1px solid #E6E6E6;
      padding: 1rem;
  }

  .categories ul li {
      margin: .5rem auto;
  }

  .products-page {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 1.5rem;
      column-gap: 1rem;

  }

  .row.blogs-page {
      height: auto !important;
      row-gap: 1rem;
  }

  .row.blogs-page .card {
      /* height: 562px; */
      border-radius: 10px !important;
      overflow: hidden;
      background: transparent;
  }


  .row.blogs-page .card-body {
      overflow: hidden;
      position: relative;
      height: 13rem;
      transition: all .4s;
      background: #fff;
  }

  .card-body div {
      height: 10rem;
  }

  .row.blogs-page .card:hover .card-body div {
      height: 13rem;
  }

  .bloglar {
      margin: 6rem auto;
  }

  .video .container>div {
      width: 100%;
      max-height: 600px;
  }

  .other-blogs .card-body {
      height: 13rem !important;
      overflow: hidden;
  }

  .other-blogs a {
      color: #000 !important;
  }

  .blog-detail-row .blog-detail {
      border: 1px solid #E22C2B;
      border-radius: 10px;
      overflow: hidden;
  }

  .blog-content {
      padding: 0 1rem;
  }

  .detail-images.row {
      row-gap: 1rem;
  }

  .social3 {
      display: flex;

      justify-content: space-between;
      max-width: 300px;
  }

  .social3 div {
      background: #000;
      height: 50px;
      width: 100%;
      max-width: 50px;
      border-radius: 100%;
      text-align: center;

      font-size: 1.7rem;
      transition: all .4s;
      border: 1px solid #000;
  }

  .social3 div a {
      color: #FFF;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .4s;
  }

  .social3 div:hover {
      background: white;
  }

  .social3 div:hover a {

      color: #000;
  }

  .clickable {
      color: gray;
      cursor: pointer;
      text-decoration: underline;
      position: relative;
      z-index: 1;
      transition: all .4s;
      text-underline-offset: .95rem;
      text-decoration-thickness: 0.01rem;
      text-decoration-color: #E6E6E6;
  }

  .selected {
      color: #E22C2C;
      text-decoration-color: #e22c2c6e;

  }

  .top hr {
      margin-top: .5rem;
  }

  .same-product {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 2rem;
  }

  @media only screen and (max-width:1200px) {
      .product {

          grid-template-columns: repeat(3, 1fr);
      }

      .social2 {
          grid-template-columns: repeat(4, 1fr);
      }

      .card-body p {

          -webkit-line-clamp: 3;
      }
  }



  @media only screen and (max-width:992px) {
      .header-contact {
          min-width: 320px;
      }

      .last-blogs.row {
          height: 900px;
          row-gap: 1rem;
      }

      .card.rounded {
          height: 100%;
      }

      .header-contact div {
          padding: 0 !important;
      }

      .product {

          grid-template-columns: repeat(2, 1fr);
          row-gap: 1rem;
          column-gap: 1rem;
      }

      .same-product {
          grid-template-columns: repeat(2, 1fr);
          row-gap: 2rem;
      }

      .slide {
          max-width: 300px;
      }

      .overlay .container .slide img {
          right: 4rem !important;
      }

      .social2 span i {
          width: 1rem;
          font-size: 1rem;
      }

      .social2 span {
          padding: 0.5rem 0.25rem;
      }

      .last-blogs {
          height: auto;
      }

      .col-lg-4.col-md-6.col-sm-12:last-child {
          margin: 1rem auto;
          margin-top: 0;
      }

      .last-blogs .card-body,
      .card:hover .card-body {

          height: auto;
      }

      .card .btn {
          position: static;
      }
  }


  @media only screen and (max-width:840px) {
      .slide {
          display: none;
      }

      .overlay .container .d-flex {
          justify-content: center;
          text-align: center;
      }

      .back,
      .back2 {
          height: 300px;
      }
  }

  @media only screen and (max-width:768px) {

      .burger-menu {
          padding: .5rem 0 .5rem 0;
          height: 100px;
          background: #343a40;
          position: relative;
      }



      nav .container {
          padding: .5rem 0;
          height: 88px;
          display: block;
          background: #343a40;
          position: static;
      }

      .menu-item:hover {
          border-bottom: 0;
      }

      input[type="checkbox"],
      .lines {
          display: flex;
          right: 8.5rem;
          top: 40%;
      }

      .menu-items {
          padding-top: 3rem;
          width: 100%;
          height: 120vh;
          transform: translate(-150%);
          transition: transform 0.5s ease-in-out;
          display: flex;
          flex-direction: column;
          text-align: center;
          position: absolute;
          z-index: 6;
          margin-top: -5rem;
          top: 0;
          left: 0;
      }


      .menuitems a:hover {
          color: #fff;
      }

      .counters .item {
          width: 100%;
          border-right: none;
          margin-bottom: 18px;
      }

      .counters .heading {
          margin: .5rem 0 2rem 0;
      }

      .counters {
          grid-template-columns: repeat(2, 1fr);
          column-gap: 1.75rem;
          row-gap: 1.75rem;
          display: grid;
      }

      .last-blogs.row {
          height: 1700px;
      }

      .card.rounded {
          height: 100%;
          max-height: 510px;
      }

      .slider-section .slick-dots {
          top: -2rem !important;
      }

      .header-contact div {
          justify-content: start;
      }

      .social2 {
          grid-template-columns: repeat(4, 1fr);
          justify-items: center;
      }

      .new-item {
          margin: 1rem 0;
      }

      .last-blogs {
          height: auto;
      }

      .last-blogs .card {
          margin: 1rem 0;
      }




      .overlay .container .slide img {
          right: 0rem !important;
      }

      footer {
          text-align: center;
      }

      footer .row div {
          margin: 1rem 0;
      }



      .social2 span {
          padding: 0.75rem 0.75rem;
      }

      .social2 span i {
          width: 1.5rem;
          font-size: 1.5rem;
      }

      form .row {
          row-gap: 2rem;
      }

      .red-overlay .content.d-flex {
          flex-direction: column;
      }

      .content form {
          width: 100%;
      }

      .content form .d-flex {
          width: 100%;
      }

      .paragraph.text-light {
          max-width: none;
      }

      .other-blogs .row {
          row-gap: 1rem;
      }
  }

  @media only screen and (max-width:700px) {

      input[type="checkbox"],
      .lines {
          right: 6rem;
      }
  }

  @media only screen and (max-width:687px) {

      input[type="checkbox"],
      .lines {
          right: 5rem;
      }
  }

  @media only screen and (max-width:600px) {

      input[type="checkbox"],
      .lines {
          right: 4rem;
      }
  }

  @media only screen and (max-width:576px) {
      .head {
          max-width: 480px;
      }

      input[type="checkbox"],
      .lines {
          display: flex;
          right: 3.25rem;
          top: 40%;
      }

      .menu {
          max-width: 490px;
          margin: 0 auto;
      }

      .overlay .content {
          display: flex;
          flex-direction: column;
          max-width: 329px;
          justify-content: center;
      }

      .product {

          grid-template-columns: repeat(1, 1fr);
      }




      .header h1.text-light {
          font-size: 1.5rem;
      }



      .contact-form form {
          margin-bottom: 3rem;
      }

      .social {
          top: 22%;
      }

      .social div a {
          width: 40px;
          height: 40px;

      }

      .contact-form {
          margin: 0 0 4rem 0;
      }
  }

  @media only screen and (max-width:560px) {
      .slider-section .slick-dots {
          padding: 0 10px;
      }
  }

  @media only screen and (max-width:500px) {
      .menu {
          max-width: 450px;
          margin: 0 auto;
      }

      input[type="checkbox"],
      .lines {

          right: 2.25rem;

      }
  }

  @media only screen and (max-width:480px) {
      .head {
          max-width: 320px;
      }

      .header-contact {
          flex-direction: column;
          align-items: start;
      }

      input[type="checkbox"],
      .lines {
          right: 5.75rem;
      }

      .menu {
          max-width: 332px;
          margin: 0 auto;
      }

      .social div a {
          margin: .10rem 0;
      }

      .header-contact {
          min-width: auto;
      }

      .slider-content {
          max-width: 280px;
      }

      .overlay .content {
          max-width: 280px;
      }

      .social {
          right: 1rem;
          align-items: flex-end;
      }

      .same-product {
          grid-template-columns: repeat(1, 1fr);
      }

      .card.rounded {
          height: 100%;
          max-height: 470px;
      }

  }


  @media only screen and (max-width:440px) {

      input[type="checkbox"],
      .lines {
          right: 4.75rem;
      }
  }

  @media only screen and (max-width:400px) {

      input[type="checkbox"],
      .lines {
          right: 3.45rem;
      }

      .social {
          top: 20%;
      }
  }

  @media only screen and (max-width:360px) {
      .social div a {
          width: 30px;
          height: 30px;
      }

      input[type="checkbox"],
      .lines {
          right: 2rem;
      }

      .card.rounded {
          max-height: 400px;
      }

      .last-blogs.row {
          height: 1400px;
      }
  }

  @media only screen and (max-width:320px) {
      .header h1.text-light {
          font-size: 1rem;
      }

      .menu {
          max-width: 310px;
          margin: 0 auto;
      }

      input[type="checkbox"],
      .lines {
          right: 2rem;
      }

      .contact-us button {
          padding: .25rem .5rem;
      }

      .slider-content {
          max-width: 200px;
      }
  }



  @media (min-width:576px) {
      .slider-section .slick-dots {
          max-width: 520px;
      }

      .social {
          top: 25%;

          right: 1rem;

      }
  }

  @media only screen and (min-width: 650px) {
      .social {
          top: 24%;
          right: 1rem;

      }
  }

  @media (min-width:768px) {
      .slider-section .slick-dots {
          max-width: 700px;
      }

      .social {
          top: 25%;
          right: 1rem;
      }
  }




  @media only screen and (min-width:800px) {
      .social {
          top: 28%;
      }
  }

  @media (min-width:992px) {
      .slider-section .slick-dots {
          max-width: 940px;
      }

      .social {
          top: 44%;
      }

  }